# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
o12.txt
s12.txt
*.yy.c
Lista_7/ex4/*.c
Lista_6/entradas
Lista_6/
Lista_6/o
Trabalho_1/entradas
Trabalho_1/saidas_padrao
Trabalho_1/saida
Lista_9/entradas
Lista_9/saidas_padrao
Lista_9/minhas_saidas
Lista_10/entradas
Lista_10/saidas_padrao
Lista_10/minhas_saidas
T1/testes
T1/saidas_padrao
T1/minhas_saidas
Lista_14/testes
Lista_14/saidas_padrao
Lista_14/minhas_saidas
Sintatico/rasc.txt
Sintatico/testes
Sintatico/saidas_padrao
Sintatico/saidas
Lista_15/testes
Lista_15/saidas_padrao
Lista_15/saidas